.header_admin{
    height: 80px;
    display: flex;
    text-align: center;
    align-items: center;
    background-color:#279698;
    position: sticky;
    top: 0;
    z-index: 100;
}
.text_align{
    margin-left :80px;
    color:white;
}
.icon_align{
    margin-left :200px;
    color:white;
}
